$color-brand:#272748;
$color-danger:#FA586A;
$color-dark:#293540;
$color-text:#293540;
$color-success:#3B3A4D;
$body-color : #FFFFFF;
// $object-color : #fafafb;
$object-color : #F0F1F3;
$color-warning: #F2CB05;
$error-color : #F52A46;
$color-text-in: #C3C2C0;
$color-label: #000000;

$color-primary-ctm: #BB76D8;
$color-secondary-ctm: #666AD9;
$color-light-dark-ctm: #3B385C;
$color-dark-ctm: #272748;
$color-darker-ctm: #110D27;